[input]

filename = lepton_assignment_output.root
filepath = ./
treeName = tHqLoop_nominal_Loose
    
[output]
outfileName = TMVA_output.root

[Features]
variable_target = is_Lep1_from_Top 

variables_tmva = m_met:F, had_tau_pt:F, had_tau_phi:F, had_tau_eta:F, had_tau_m:F, phi_b:F, pt_b:F, eta_b:F, pt_lep1:F, pt_lep2:F, pt_lep3:F, eta_lep1:F, eta_lep2:F, eta_lep3:F, phi_lep1:F, phi_lep2:F, phi_lep3:F, mass_lep1:F, mass_lep2:F, mass_lep3:F, E_lep1:F, E_lep2:F, E_lep3:F, type_lep1:F, type_lep2:F, type_lep3:F, deltaR_taulep1:F, deltaR_taulep2:F, DeltaEtaSubLeadingLeptonClosestBjet:D, DeltaRSubLeadingLeptonClosestBjet:D, DeltaEtaLeadingLeptonClosestBjet:D , DeltaRLeadingLeptonClosestBjet:D, DeltaRMin:F, deltaEta_taulep1:F, deltaEta_taulep2:F, deltaR_blep1:F, deltaR_blep2:F
#, charge_lep1:F, charge_lep2:F, charge_lep3:F

variables_spectator = m_njets:I, m_nbjets:I , m_nNoBjets:I, m_nfjets:I, m_nCentraljets:I, weight_nominal:F, runNumber:I, eventNumber:I, m_nleptons:I



# To explore the performance of the BDTG according to the hyperparameter: Using scanParams() and defineBDT()
[BDT_scanner]
depth= 2, 3, 5
ncuts= 20, 3, 50
ntrees = 1800, 2000
shrink = 0.1,0.15,0.2
negWeights = IgnoreNegWeightsInTraining


log_dir = scanner/
BDTs_dir = scanner/


# To test different methods: Using function TMVA_Runner()
[MVA]     
AnalysisType = Classification
#AnalysisType = [Regression, Auto, Classification]

BDT_BoostType = Gradient
#BDT_BoostType =[Gradient, AdaBoostR2] # Regression


Classification_algorithm = Gradient
#Classification_algorithm = [Gradient, LikelihoodD, Fisher, FisherG, BoostedFisher, LD, MLPBNN] # Classification


BDT_depth = 2
BDT_shrink = 0.10
BDT_ntrees = 1000
BDT_ncuts = 20

NegativeWeightTreatment = IgnoreNegWeightsInTraining
#NegativeWeightTreatment = [IgnoreNegWeightsInTraining, Pray, WeightsInverseBoostNegWeights, PairNegWeightsGlobal]
