[input]
filepath = /Users/pablo/Desktop/tHq_Analysis/2-LeptonAssigment/Studies/SamplesDir/

[output]
outfileName = TMVA_output.root

[Features]
variable_target = is_Lep1_from_TruthTop

variables_tmva = deltaR_b_LightLep1:F, deltaR_b_LightLep2:F, m_Hvis_opt1:F, m_Tpred_opt1:F, m_Hvis_opt2:F, deltaEta_tau_LightLep2:F, deltaEta_tau_LightLep1:F, DeltaEtaLeadingLeptonClosestBjet:F, m_Tpred_opt2:F

#deltaR_tau_LightLep1:F, DeltaRLeadingLeptonClosestBjet:F, deltaR_b_LightLep1:F, deltaR_b_LightLep2:F, deltaR_tau_LightLep2:F, m_Hvis_opt1:F, deltaEta_tau_LightLep2:F, deltaEta_tau_LightLep1:F
#, eta_Tpred_opt2:F
#, pt_Tpred_opt1:F, m_Tpred_opt1:F, pt_Hvis_opt1:F, m_Tpred_opt2:F, pt_Tpred_opt2:F, DeltaEtaLeadingLeptonClosestBjet:F, eta_Tpred_opt1:F, eta_Hvis_opt1:F, pt_lep1:F


[MVA]
numFolds = 5
FoldFileOutput = True
#This should be False except for some tests. 
# FoldFileOutput :: Set to False by default. Use true only to check overtraining in cross validation


BDT_depth = 2
BDT_shrink = 0.3
BDT_ntrees = 500
BDT_ncuts = 20
BDT_MinNodeSize = 5
BDT_BaggedSampleFraction = 0.5


NegativeWeightTreatment = IgnoreNegWeightsInTraining
#NegativeWeightTreatment = [InverseBoostNegWeights, IgnoreNegWeightsInTraining, Pray, WeightsInverseBoostNegWeights, PairNegWeightsGlobal]
# InverseBoostNegWeights does not exist for BoostType=Grad
