[input]
filepath = /Users/pablo/Desktop/tHq_Analysis/3-LeptonAssigment/Studies/new_TrainingSamples/
train_with_OS = False

[output]
outfileName = TMVA_output.root
outfileName_optimisation  = TMVA_optimisation_output.root


[Features]
variable_target = is_Lep1_from_TruthTop

variables_tmva =  deltaR_b_LightLep1:F, deltaR_b_LightLep2:F,  m_Hvis_opt1:F, m_Tpred_opt1:F,  m_Hvis_opt2:F, deltaEta_tau_LightLep2:F, deltaEta_tau_LightLep1:F,DeltaEtaLeadingLeptonClosestBjet:F, m_Tpred_opt2:F
    #, pt_Hvis_opt1:F, DeltaRLeadingLeptonClosestBjet:F, deltaR_tau_LightLep1:F, deltaR_tau_LightLep2:F,


[MVA]
numFolds = 5
FoldFileOutput = True
#This should be False except for some tests. 
# FoldFileOutput :: Set to False by default. Use true only to check overtraining in cross validation


BDT_depth = 4
BDT_shrink = 0.2
BDT_ntrees = 1000
BDT_ncuts = 40
BDT_MinNodeSize = 15
BDT_BaggedSampleFraction = 0.5


NegativeWeightTreatment = IgnoreNegWeightsInTraining
#NegativeWeightTreatment = [InverseBoostNegWeights, IgnoreNegWeightsInTraining, Pray, WeightsInverseBoostNegWeights, PairNegWeightsGlobal]
# InverseBoostNegWeights does not exist for BoostType=Grad
